<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Poppins", sans-serif;
	}
	body {
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
		padding: 30px;
	}

	.container {
		position: relative;
		max-width: 850px;
		width: 100%;
		background: #fff;
		padding: 40px 30px;
		box-shadow: 0 5px 10px rgba(0,0,0,0.2);
		perspective: 2700px;
	}
</style>

<body>
	<div class="container">
<form asp-action="ForgetPassword" method="post">
					<h3 class="text-dark fw-bolder fs-4 mb-2">Forget Password ?</h3>

					<div class="fw-normal text-muted mb-4">
						Enter your email to reset your password.
					</div>

					<div class="form-floating mb-3">
						<input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
						<label for="floatingInput">Email address</label>
					</div>
					
	
			<div class="form-floating mb-3">
				<input type="password" name="password" class="form-control" id="floatingInput" placeholder="name@example.com" required>
				<label for="floatingInput">Password</label>
			</div>

			<div class="form-floating mb-3">
				<input type="password" name="newpassword" class="form-control" id="floatingInput" required>
				<label for="floatingInput">Confirm Password</label><br />

				<input class="btn btn-primary btn-lg mb-3" type="submit" value="Update">

			</div>

			
				<a href="https://localhost:44311/Login/Login" class="btn btn-primary button">Cancel</a>
			
</form>
	</div>
	</body>